<div class = "container">
   
   <div class = "jumbotron">
      <h3>Order Details</h3>
      <ul>
        <li>Sample data.</li>
        <li>Sample data.</li>
        <li>Sample data.</li>
      </ul>
      
      <p>
         <a class = "btn btn-primary btn-md" role = "button">I'm a button.</a>
      </p>
   </div>
   
</div>