<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Fuber</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Order</a></li>
          <li><a href="">Deliever</a></li>
          <li><a href="">Sign in</a></li>
        </ul>
      </div>
      <div class="navbar-collapse collapse">
    </div>
  </div>
  <div class="headline">
    <h1>Welcome to Fuber</h1>
    <h4>An app connecting lazy people to uber-like delivery drivers</h4>
  </div>
  <div class="order">
    <a href=""><button type="button" class="btn btn-primary">Order</button></a>
  </div>
  <div class="delivery">
    <a href=""><button type="button" class="btn btn-primary">Deliver</button></a>
  </div>
</body>
