  <div class="headline">
    <h1>Welcome to Fuber</h1>
    <h4>An app connecting lazy people to uber-like delivery drivers</h4>
  </div>
  <div class="order">
    <a href=""><button type="button" class="btn btn-primary">Order</button></a>
  </div>
  <div class="delivery">
    <a href=""><button type="button" class="btn btn-primary">Deliver</button></a>
  </div>
