  
<div class="container" id="welcome">

  <div class="headline" id="greeting">
    <h1>Welcome to F&uuml;ber</h1>
    <h4><%= @tagline %></h4>
  </div>

  <div class="buttons">
    <a href="/orders/menu"><button type="button" id="left-button"class="btn btn-primary">ORDER</button></a>
    <a href="/orders"><button type="button" id="right-button" class="btn btn-primary">DELIVER</button></a>
  </div>

</div>
<div class ="arrow">
  <img src="../../img/scrolldown.png">
</div>