<div class="container-fluid">

    <div class="row">

        <div class="col-md-8">
            <div class="jumbotron">
                <div class="order_history">
                  <h3>Order History</h3>
                  <ul>
                  <% @order_history.each do |order| %>
                    <li>Sample item: <%= order.cuisine %></li>
                    <% end %>
                  <!--   <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li> -->
                  </ul>

                </div>
                <div class="delivery_history">
                  <h3>Delivery History</h3>
                  <ul>
                    <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li>
                    <li>Sample item</li>
                  </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="jumbotron sidebar-nav pull-right">
                <h3>Pending Orders</h3>
                <ul>
                  <li>Sample item</li>
                  <li>Sample item</li>
                  <li>Sample item</li>
                  <li>Sample item</li>
                  <li>Sample item</li>
                  <li>Sample item</li>
                </ul>
            </div>
            <!--/sidebar-nav-fixed -->

        </div>

    </div>
    <!--/row-->
</div>