@font-face {
    font-family: leagueGothic;
    src: url(../fonts/leaguegothic.woff);
}

body {
  background: url(../img/restaurant_icons.png);

}


#welcome {
  background: url(../img/burned_map.jpg);
  height: 550px;
}

#welcome h1, h4 {

  padding: 0;
  margin: 0;
  color: white;
}

.order {
  margin: 0px 20px 0px 0px;

}

#greeting {
  white-space: nowrap;
  width: 560px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
}

.buttons {
  white-space: nowrap;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
}

.buttons button {
  margin: 0px 20px 0px 0px;
  background-color: #d4bf5e;
  border: 2px solid #796920;
  font-family: leagueGothic, sans-serif;
  font-size: 3.5em;

}

.buttons button:hover {
  background-color: #b69d30;
  border: 2px solid #796920;
}

.navbar-brand {

  font-family: 'Geo', sans-serif;
  font-size: 2.5em;
  margin-left: 10px;

}

.navbar-right {

  margin-right: 40px;

}

.sidebar-nav { 
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 3px;
  padding-left: 10px;
  }

.headline {
  margin-top: 130px;
  margin-left: 75px;
}

.headline, h1 {
  font-size: 60px;
  color: #00000F;
}

.btn-primary {
  width: 200px;
  height: 100px;
  font-size: 35px;
}