body {
  background: url(../img/restaurant_icons.png);

}
.sidebar-nav { 
  width: 100%;
  background-color: #E0E0E0;
  border-radius: 3px;
  }

.headline {
  margin-top: 130px;
  margin-left: 75px;
}

.headline, h1 {
  font-size: 60px;
  color: #00000F;
}

.order {
  margin-top: 180px;
  float: left;
  margin-left: 25%;
}

.delivery {
  margin-top: 180px;
  float: right;
  margin-right: 25%;
}

.btn-primary {
  width: 200px;
  height: 100px;
  font-size: 35px;
}