body {
  background: url(../img/restaurant_icons.png);

}
.sidebar-nav { 
  width: 100%;
  background-color: #E0E0E0;
  border-radius: 3px;
  }

.headline {
  margin-top: 70px;
  margin-left: 75px;
}

.headline, h1 {
  font-size: 60px;
  color: #00000F;
}

.order {
  margin-top: 200px;
  float: left;
  margin-left: 25%;
}

.delivery {
  margin-top: 200px;
  float: right;
  margin-right: 25%;
}

.btn-primary {
  width: 200px;
  height: 100px;
  font-size: 35px;
}

.col-md-3 {
  margin-top: 20px;
}

.img-thumbnail {
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.img-thumbnail:hover {
  opacity: 1.0;
}