@font-face {
    font-family: leagueGothic;
    src: url(../fonts/leaguegothic.woff);
}

body {
  background: url(../img/restaurant_icons.png);

}

#form_title {

  font-family: leagueGothic, sans-serif;
  color:#b69d30;
  font-size: 4em;
  text-align: center;

}

#welcome {
  background: url(../img/burned_map.jpg);
  height: 550px;
}

#welcome h1, h4 {

  padding: 0;
  margin: 0;
  color: white;
}

.order {
  margin: 0px 20px 0px 0px;

}

#greeting {
  white-space: nowrap;
  width: 560px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
}

.buttons {
  white-space: nowrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  width: 100%;
}

.buttons button {
  background-color: #d4bf5e;
  border: 2px solid #796920;
  font-family: leagueGothic, sans-serif;
  font-size: 3.5em;

}

.buttons button:hover {
  background-color: #b69d30;
  border: 2px solid #796920;
}

.navbar-brand {

  font-family: 'Geo', sans-serif;
  font-size: 2.5em;
  margin-left: 10px;

}

.navbar-right {

  margin-right: 40px;

}

.sidebar-nav { 
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 3px;
  padding-left: 10px;
  }

.headline {
  margin-top: 70px;
  margin-left: 75px;
}

.headline, h1 {
  font-size: 60px;
  color: #00000F;
}

.order {
  margin-top: 200px;
  float: left;
  margin-left: 25%;
}

.delivery {
  margin-top: 200px;
  float: right;
  margin-right: 25%;
}

.btn-primary {
  width: 200px;
  height: 100px;
  font-size: 35px;
}

.col-md-3 {
  margin-top: 20px;
}

.img-thumbnail {
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.img-thumbnail:hover {
  opacity: 1.0;
}

#card {
  border: black solid 2.5px;
}

.food-icon {
  border: black solid 2.5px;
  width: 170px;
  border-radius: 5px;
  display: inline-block;
}

.card-data-right {
  font-size: 21px;
  float: right;
  height: 170px;
  width: 250px;
  word-wrap: break-word;
}

.card-data-left {
  font-size: 20px;
  display: inline-block;
  list-style-type: none;
  position: absolute;
}

/*Form styling*/

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.form-control {
  margin-top:2em;
}

.glyphicon {
  margin-right: 0.5em;
}

.checkbox {
  margin: 0.5em 0em 0em 0.5em;
}

.accept {
  position: absolute;
}

#accept {
  margin-top: 15px;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.arrow {
  width: 60px;
  margin: auto;
  margin-top: -60px;
}

.arrowimg {
  width: 60px;
}



.buttons {
  margin-left: auto;
  margin-right: auto;
}

#left-button {
  float: left;
  margin-left: 300px;
}

#right-button {
  float: right;
  margin-right: 300px;
}

#about {
  background: url(../img/fotorcreated.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px;
}

#about h1 {
  color: white;
}

#aboutgreeting {
    white-space: nowrap;
    width: 300px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
    margin-top: 265px;
  }
